# Directorios y archivos de NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Compilados de Java y archivos temporales
*.class
*.jar
*.war
*.ear
*.zip

# Archivos generados por el sistema
*.log
*.tmp
*.bak
*.swp

# Configuración de IDEs
*.iml
*.ipr
*.iws
.idea/
*.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Otros
out/
